#app {
  display: grid;
  grid-template-columns: minmax(0, 250px) 3fr minmax(0, 250px);
  max-width: 1350px;

  overflow-x: clip;

  margin: 0 auto;
  gap: 1em;

  & > * {
    padding: 1em;
  }

  & > header,
  & > footer {
    position: sticky;
    top: 0;
    height: calc(100vh - 2em);
  }

  & > main {
    padding-bottom: 100vh;
  }
}
