:root {
  --col-bg-0: 0 0 0;
  --col-bg-1: 12 12 12;
  --col-bg-2: 18 18 18;
  --col-bg-3: 36 36 36;

  --col-fg: 255 255 255;
  --col-fg-1: 220 220 220;
  --col-fg-muted: 147 147 147;

  --col-accent: 237 163 255;
  --col-accent-muted: 77 32 88;
}
