:root {
  --inter: Inter;
}

html,
input,
button {
  font-family: var(--inter), "Noto Color Emoji", sans-serif;
  font-feature-settings:
    "liga" 1,
    "calt" 0;

  font-size: 15px;
  line-height: 20px;
}
@supports (font-variation-settings: normal) {
  :root {
    --inter: InterVariable;
  }
}

pre,
code {
  font-family: "SF Mono", "Fira Mono", "Roboto Mono", monospace;
  font-size: smaller;
  font-feature-settings: "liga" 0;
}
