html {
  --inter: Inter;

  font-size: 16px;
  line-height: 1.25;
  font-family: var(--inter), "Noto Color Emoji", sans-serif;
  font-feature-settings:
    "liga" 1,
    "calt" 0;
}
@supports (font-variation-settings: normal) {
  html {
    --inter: InterVariable;
  }
}

pre,
code {
  font-family: "SF Mono", "Fira Mono", "Roboto Mono", monospace;
  font-size: smaller;
  font-feature-settings: "liga" 0;
}
