.compose-modal {
  display: block;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  padding: 0;
  margin: 0;

  background-color: rgb(var(--col-bg-0) / 0.75);
  color: white;
  opacity: 0;

  transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  transition-duration: 150ms;
  transition-property: opacity;

  pointer-events: none;

  z-index: 9999;

  &.visible {
    pointer-events: all;
    backdrop-filter: blur(8px);
    opacity: 1;
  }
}

.compose-box {
  max-width: calc(min(900px, 100vw) - 4em);
  margin: 0 auto;
  margin-top: 6em;
  padding: 1em;
  border-radius: 8px;
  border: 1px solid rgb(var(--col-bg-3) / 1);

  background-color: rgb(var(--col-bg-0) / 1);

  label[for="post-text"] {
    overflow: hidden;
    width: 0;
    height: 0;
    position: absolute;
  }

  button {
    border-radius: 4px;
    color: rgb(var(--col-fg) / 1);
    &:hover {
      color: rgb(var(--col-accent) / 1);
    }
  }
}

body:has(#app[inert]) {
  overflow-y: hidden;
}
