.post .embed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;
  margin: 0.5em 0;
  overflow-x: auto;
  background-color: rgb(var(--col-bg-0) / 1);
  border: 1px solid rgb(var(--col-bg-3) / 1);
  border-radius: 8px;
}

.embed .images {
  width: 100%;

  img {
    aspect-ratio: var(--aspect-ratio);

    min-width: 4em;
    width: 100%;
    max-height: 36em;
    object-fit: contain;
    pointer-events: all;
  }
}

.embed .external {
  width: 100%;
  max-height: 36em;
  text-overflow: ellipsis;
  padding: 1em;

  section {
    display: flex;
    flex-direction: column;

    gap: 1em;
    font-size: smaller;
    align-items: stretch;
  }

  img {
    object-fit: cover;
    aspect-ratio: 1.91 / 1;
    width: 100%;
    border-radius: 4px;
  }
}

.embed .quote {
  width: 100%;
  padding: 1em;

  .topline {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 1ch;
    margin-bottom: 0.5em;

    .avatar {
      height: 1em;
    }

    time {
      color: rgb(var(--col-fg-muted) / 1);
    }
  }
}
