.post {
  overflow: clip;

  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 1em;
  padding: 1em;
  padding-bottom: 0.5em;

  border: 1px solid rgb(var(--col-bg-3) / 1);
  border-collapse: collapse;

  .topline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .details {
    width: fit-content;
    white-space: nowrap;

    time {
      color: rgb(var(--col-fg-muted) / 1);
    }
  }

  .avatar {
    pointer-events: all;
    height: 46px;
  }

  .author strong {
    margin-right: 0.5ch;
  }

  & > section {
    flex: 1;
  }

  .reply-details {
    display: inline-block;
    color: rgb(var(--col-fg-muted) / 1);
    margin-bottom: 0.25em;
    margin-top: 0.25em;

    .lucide {
      height: 1em;
      vertical-align: text-top;
      margin-left: -4px;
    }
  }

  & > section > p {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }
}

.post:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.post:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.post + .post {
  border-top: none;
}

.post .controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: smaller;

  button {
    --color: 255 255 255;

    display: flex;
    align-items: center;
    padding: 0.5em;
    border-radius: 8px;

    &:hover {
      background-color: rgb(var(--color) / 0.1);
      color: rgb(var(--color) / 1);
    }

    & > svg {
      margin-left: -6px;
      height: 1.25em;
      margin-right: 0.25em;
    }

    &:not(:has(data)) > svg {
      margin: 0;
    }
  }

  .like {
    --color: 251 81 121;
  }
  .repost {
    --color: 95 255 159;
  }
  .reply {
    --color: var(--col-accent);
  }
}

.post .embed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;
  margin: 0.5em 0;

  &.images img {
    border: 1px solid rgb(var(--col-bg-3) / 1);
    border-radius: 8px;

    width: 100%;
    max-height: 24em;
    object-fit: contain;
    pointer-events: all;
  }
}
