.post {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 1.5em;
  padding: 1em;
  padding-bottom: 0.5em;

  background-color: rgb(var(--col-bg-1) / 1);
  border: 1px solid rgb(var(--col-bg-3) / 1);
  border-collapse: collapse;

  .avatar {
    height: 44px;
  }

  & > section {
    flex: 1;
  }

  p {
    padding-top: 0.25em;
    padding-bottom: 0.5em;
  }
}

.post + .post {
  border-top: none;
}

.post .controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: smaller;

  button {
    display: flex;
    align-items: center;
    padding: 0.2em;

    &:hover {
      background-color: rgb(var(--col-bg-3) / 1);
    }

    & > svg {
      height: 1.5em;
      margin-right: 0.5em;
    }
  }
}
